* {
	padding: 0;
	margin: 0;
	
	font-family: 'Montserrat', sans-serif;
	/* outline: 2px solid red; */
}

 body {
    background-color:#232D57;
    display: flex;
    align-items: center;
    justify-content: center;
    /* height: 100vh; */
    margin: 0;
    /* font-family: Arial, sans-serif; */
  }
  .login-form {
    width: 300px;
    text-align: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.1);
    color: white;
    backdrop-filter: blur(10px);
  }
 .input-place {
    margin-top: 20px;
    padding: 10px;
    width: 250px;
    border: none;
    border-radius: 15px;
    outline: none;
    ::placeholder {
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
    }
}
.login-button{
    margin-top: 20px;
    padding: 10px 20px;
    border: none;
    color: white;
    background-color: #232D57;
    cursor: pointer;
    border-radius: 15px;
    transition: 0.5s;
}
 .login-button:hover {
    background-color:#FC715F;
    
  }
  @keyframes gradient {
    0% { background-position: 0% 50%; }
    50% {background-position: 100% 50%; }
   100% {background-position: 0% 50%; }
  }
  
  body {
    background-size: 200% 200%;
    background-image: linear-gradient(55deg, #232D57,  #505a74fd,  #232D57);
    animation: gradient 5s ease infinite;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    margin: 0;
    font-family: Arial, sans-serif;
  }